<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CD Collection</title>
</head>
<body>
  <h2>Records<h2>
  <table border="1">
    <thead>
      <tr>
        <td>Title</td>
        <td>Artist</td>
        <td>Genre</td>
      </tr>
    </thead>
    <tbody>
    <% cds.forEach(function(details) { %>
      <tr>
        <td><%= details.title %></td>
        <td><%= details.artist %></td>
        <td><%= details.genre %></td>
        <td><a href="/edit/<%= details._id %>">Edit</a> | <a href="/delete/<%= details._id %>">Delete</a></td>
      </tr>
    <% }) %>
    </tbody>
    <button><a href="/">Back</a></button>
</body>
</html>
